.sub-contant {
    width: 80%;
    margin-left: 160px;
}
.dietpanel-menu {
    background-color: #EFECEC!important;
    position: relative;
    padding-bottom: 550px!important;
    margin-bottom: 30px;
}
.nav > a {
    color: black !important;
  }
  /* .nav {
    background-color: #FFF !important;
    border-bottom:0px !important;
  } */
  .dietpanel-menu.nav > a.active {
    border-bottom: 2px solid black!important;
    color: #fff;
    background-color: rgb(239,236,236)!important;
   
  }
  .dietpanel-menu.nav-tabs .nav-link {
    border: none!important;
  }
 
/*-----------------------------------------------------*/
/* .dietpanel-box {
    background-color: rgb(239,236,236);
    padding-bottom: 30px;
} */
.full_dietpanel_box{
  width: 95%!important;
}
.dietpanel_sub_box {
    max-width: 100%!important;
    margin-left: 140px;
    background-color: #fff;
    position: absolute!important;
    top: 90px;
}
.dishes_boxes {
  margin-left: 35px;
}
.dishes > input {
 background-color: #C4C4C4;
 border: none;
 margin-left: 0px;
 outline: none;
 margin-bottom: 30px;
}
.dietpanel_sub_box ::placeholder { 
  color: #000;
  opacity: 1; 
  padding-left: 8px;
}
.description-area {
  width: 85%;
  border: none;
  outline: none;
  background-color: #C4C4C4;
}
.gallery-img {
  margin-left: 240px;
  background-color: #C4C4C4;
  margin-top: 20px;
  margin-right: 84px!important;

}
.gallery-img > img {
  padding:20px 50px;
}